@tailwind base;
@tailwind components;
@tailwind utilities;
.font-face-gm {
    font-family: "SpaceGrotesk";
  }
  .font-face-m {
    font-family: "SpaceGrotesk-l";
  }
  .font-face-sm {
    font-family: "SpaceGrotesk-sm";
  }
  