
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "SpaceGrotesk";
    src: local("SpaceGrotesk"),
     url("./fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: bold; 
}

@font-face {
font-family: "SpaceGrotesk-l";
src: local("SpaceGrotesk"),
 url("./fonts/SpaceGrotesk-Light.ttf") format("truetype");
font-weight: light;
}
@font-face {
font-family: "SpaceGrotesk-m";
src: local("SpaceGrotesk"),
 url("./fonts/SpaceGrotesk-Medium.ttf") format("truetype");
font-weight: medium;
}

@font-face {
font-family: "SpaceGrotesk-r";
src: local("SpaceGrotesk"),
 url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
font-weight: regular;
}

@font-face {
font-family: "SpaceGrotesk-sm";
src: local("SpaceGrotesk"),
 url("./fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
font-weight: semibold;
}
